<h1 style="font-size: 25px"> You can call the numbers below in case you need help from the Rwandan National Police:</h1>

<!-- h2>Emergency: 112</h2>
<h2>Fire Brigade: 111</h2>
<h2>Traffic Accidents: 113</h2>
<h2>Marine: 110</h2>
<h2>Child-Help-Line: 116</h2>
<h2>Anti-GBV: 3512</h2>
<h2>Isange One Stop Centre: 3029</h2>
<h2>Anti-Corruption: 997</h2> -->


<!DOCTYPE html>
<html>
<head>
  <style>
    #customers {
      font-family: "Trebuchet MS", Cormorant+Garamond;
      border-collapse: collapse;
      width: 90%;
      font-size: 20px;
    }

    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
  </style>
</head>
<body>

  <table id="customers">
    <tr>
      <th>Category</th>
      <th>Phone Numbers</th>
    </tr>
    <tr>
      <td>Emergency</td>
      <td>112</td>
    </tr>
    <tr>
      <td>Fire Brigade</td>
      <td>111</td>
    </tr>
    <tr>
      <td>Traffic Accidents</td>
      <td>113</td>
    </tr>
    <tr>
      <td>Marine</td>
      <td>110</td>
    </tr>
    <tr>
      <td>Child-Help-Line</td>
      <td>116</td>
    </tr>
    <tr>
      <td>Anti-GBV</td>
      <td>3512</td>
    </tr>
    <tr>
      <td>Isange One Stop Centre</td>
      <td>3029</td>
    </tr>
    <tr>
      <td>Anti-Corruption</td>
      <td>997</td>
    </tr>


  </table>

</body>
</html>



