<div class="container-fluid" style="font-family: courgette">
  <div class="col-md-4">
  <img style="border-radius: 50%;" src="http://apsworldgroup.com/yahoo_site_admin/assets/images/Contact-Us-blue-version.158125242_std.jpg" class="img-responsive">
  <h5 style="font-size: 18">Use the following contacts to get support from us:</h1>
  <h2>Email: mariebertrande.umuhire@gmail.com</h2>
  <h2>Cell-phone: +25078953076/ +25072230777</h2>
    
  </div>
  
</div>