/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*.body {
    margin-left: auto;
    margin-right: auto;
    }*/
 /*h1 { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }*/

    .flag{
      height:auto;
      width:50px;
      margin-top: 8px;
    }

.media{
      height:auto;
      width:20px;
      margin-top: 8px;
      margin-left: 20px
    }
    .input{
      font-family:courgette;

      font-size: 10px;
      line-height: 20px;
    }

/*.footer {
     position:fixed;
     left:0px;
     bottom:0px;
     height:30px;
     width:100%;
     
     }*/
     .body{
      font-family:GOTHICB;

      font-size: 12px;
      line-height: 25px;
    }
    .flash-message {
      height:5px;
      position: center;
      margin-left: auto;
    }

    .container { 
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
    }

/*#page-wrap { 
  text-align:center;
  margin-left: -2000px;
  left: 50%;

  width: 100px;
  margin: 50px;
  }*/
  #background {
   background: url(nice.jpg) no-repeat center center fixed; 
   min-width: 100%;
   min-height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute; 
   top: 120px; 
   left: 0; 
   right: 0; 
   bottom: 0; 
   margin: auto; 
 }

 .home{
  margin-left: auto;
  margin-right: auto;
  height: auto; 
  width: 1500px; 
  max-width: 1400px; 
  max-height: 500px;
}
.show-images{
  margin-left: auto;
  margin-right: auto;
  height: auto; 
  width: 500px; 
  max-width: 600px; 
  max-height: 500px;  
}
.index{
 margin-left: auto;
 margin-right: auto;
 height: 160px; 
 width: auto; 
 max-width: 400px; 
 max-height: 500px;   
}

body{ }

@font-face {
  font-family: RadikalW01_Black_bold;
  src: url('../fonts/radikal_font_family/RadikalW01-Bold.ttf');
  src: url('../fonts/radikal_font_family/RadikalW01-Bold.eot');
  src: url('../fonts/radikal_font_family/RadikalW01-Bold.woff');
  font-weight:bold;
}

@font-face {
  font-family: RadikalW01_thin;
  src: url('../fonts/radikal_font_family/RadikalW01-Light.ttf');
  src: url('../fonts/radikal_font_family/RadikalW01-Light.eot');
  src: url('../fonts/radikal_font_family/RadikalW01-Light.woff');
  font-weight:bold;
}
@font-face {
  font-family: RadikalW01-Medium;
  src: url('../fonts/radikal_font_family/RadikalW01-Medium.ttf');

}

@font-face {
  font-family: RadikalW01-Light;
  src: url('../fonts/radikal_font_family/RadikalW01-Light.ttf');

}

@font-face {
  font-family: RadikalW01-Bold;
  src: url('../fonts/radikal_font_family/RadikalW01-Bold.ttf');

}

@font-face {
  font-family: CenturyGothic-bold;
  src: url('../fonts/radikal_font_family/CenturyGothic-bold.ttf');

}

@font-face {
  font-family:GOTHICB;
  src: url('../fonts/radikal_font_family/GOTHICB.TTF');

}


@font-face {
  font-family:OPENSANS-REGULAR;
  src: url('../fonts/radikal_font_family/OPENSANS-REGULAR.TTF');

}

@font-face {
  font-family:OPENSANS-SEMIBOLD;
  src: url('../fonts/radikal_font_family/OPENSANS-SEMIBOLD.TTF');

}

.clear{    clear: both;}
.jain_container{ margin:0px; padding:0px;}
.jain_container .medias{margin-top: 15px;}
.jain_container .medias ul{ padding:0px; margin:0px; }
.jain_container .medias ul li{  display:inline;  padding:7px 0px;}
/* .jain_container .medias i {    font-size: 18px;} */
.jain_container  .navbar-brand{height:10px; width:2px;}

.jain_container .form-control{border-radius: 40px; left:500px; border: 2px solid #adadad; margin-top: -3px; width:350px;}
.jain_container  .form-horizontal_x{
  margin-top: 200px; margin-left: 200px;
}
.form-horizontal_x .col-sm-4 {    padding: 3px;}
.form-horizontal_x .col-sm-3 {    padding: 3px;}
.form-horizontal_x .col-sm-2 {    padding: 3px;}
.jain_container .navbar-default{position: absolute;    top: 20px;     background-color: rgba(255, 255, 255, 0.72);}

.jain_container .nav>li>a{padding: 12px 15px;color:#4c1f1e;font-family: RadikalW01_Black_bold;}

.jain_container .btn-default {
  color: #fff;
  margin-top: 10px;
  background-color: #ff523f;
  border-color: #ff523f;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 13px;

}
.jain_container .navbar-nav{    margin-top: 10px;}
.jain_container .btn-default:hover{ background:#000; border-color:#000;}
.medias ul li a {
  padding-top: -20px;
  height: 40px;
  width: 40px;
  display: 
  text-align: left;
  border: 3px solid #fff;
  line-height: 40px;
  background: #4c1f1e;
  border-radius: 40%;
  display: inline-block left;
  color: #fff;
  font-size: 10px;
}
.classus p{color:#4c1f1e;padding-top: 20px;}
.why_bookonline p{color:#4c1f1e;   font-family: RadikalW01-Medium; font-size:18px;}
.medias ul li a:hover {    background: #000;}
.jain_container .carousel-caption{    top: 10%;}

.jain_container .tagline h3 {font-family: RadikalW01-Light;font-size: 42px;text-transform: uppercase;text-shadow: 0px 0px 2px #c29c78;}
.jain_container .tagline h3  span{    font-family: RadikalW01-Bold; font-size:50px; letter-spacing:3px;}

.new_years {
  border: 1px solid #fff;
  width: 38%;
  margin: auto;
  padding: 10px;
}
.new_years_inner{background: rgba(255, 82, 63, 0.9);padding: 14px 0px;}
.new_years_inner h4 {font-size: 22px;font-family: RadikalW01-Bold;letter-spacing: 2px;text-transform: uppercase;}

.new_years_inner a {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: RadikalW01-Bold;
  text-decoration: none;
}
.tagline hr{ width:60%;     border-top: 3px solid #eee;}

.carousel-control.left {    background: transparent; }
.carousel-control.right{    background: transparent; }
.carousel-control{ width:inherit;}
.banner_hotels_all  h1{font-size: 20px;font-family: RadikalW01-Bold;color:#ff523f;text-transform: uppercase;letter-spacing: 4px;padding-bottom: 30px;}
#hotel_alls{ padding:50px  0px;}

.banner_hotels_all .col-md-4{padding:0px;}
.banner_hotels_all .col-md-8{padding:0px;}
.banner_hotels_all .hotels_abouts{border:4px solid #f5d1a9;padding: 20px 30px;}
.hotels_abouts h2 {
 font-family:GOTHICB;
 color:#4c1f1e;
 font-size: 22px;
 text-transform: uppercase;
 line-height: 25px;}
 a.hotels_ex {
  display: block;
  width: 100%;
  background: #4c1f1e;
  text-align: center;
  padding: 6px 0px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-decoration: none;
  margin-top: 20px;
}

a.booking_qx {
  display: block;
  width: 100%;
  background: #ff523f;
  text-align: center;
  padding: 6px 0px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}
.hotels_abouts p {
  color: #818181;
  font-size: 12px;
}
.hotels_loc {
  background: rgba(76, 31, 30, 0.71);
  position: absolute;
  z-index: 999;
  top: 0px;
  left: 10%;
  padding: 10px 20px;
}

.hotels_loc span {
  color: #4c1f1e;
  background: #f5d1a9;
  font-size: 18px;
  padding: 5px;
}
.hotels_loc h3 {
  color: #fff;
  margin: 10px 0;
}
.hotels_loc p {
  color: #fff;
}

#myCarousel_hotels .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{    margin-left: -50px;    font-size: 50px;     color: #4c1f1e;}
#myCarousel_hotels .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{    margin-right: -50px;     font-size: 50px;    color: #4c1f1e;}
#myCarousel_hotels .carousel-control{opacity: .9;}

.banner_hotels_all_abouts p{font-family: RadikalW01-Medium;line-height: 30px;text-align: center;}
.banner_hotels_all_abouts p span{ color:#ff523f;}
.all_offers_in .col-md-4{ padding:5px;}
.offers_off {
  margin-top: -117px;
  display: -webkit-box;
  background: rgba(120, 64, 61, 0.71);
  width: 100%;
  position: relative;
  padding: 15px 0px;
}
.offers_off h4{
  font-family: RadikalW01_Black_bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
}
.offers_off h4 span{
  display: block;
  font-family: RadikalW01_thin;
  text-transform: uppercase;
  color: #fff;
  font-size: 38px;
}
.offers_off p{
  font-family: RadikalW01_thin;
  color: #fff;
  font-size: 18px;
  padding-top: 6px;
}

a.offers_link{
  font-family: RadikalW01_Black_bold;
  color: #ff523f;
  font-size: 20px;
  text-decoration: none;
}
#offers_out{ padding-top:40px;}

#myCarousel_wedding .carousel-indicators {
  position: absolute;
  bottom: 70px;
  right: 0%;
  z-index: 15;
  left: inherit;
  width: 22%;
}
.wedding_slide_tag {
  position: absolute;
  z-index: 999;
  top: 24%;
  left: 10%;
  color: #fff;
}

.wedding_slide_tag h3 {
  font-family: RadikalW01_Black_bold;
  display: table-caption;
  text-transform: uppercase;
  font-size: 50px;
}
.wedding_slide_tag h3  span{
  font-family: RadikalW01_thin;
  
}
.wedding_forms {
  display: block;
  z-index: 999;
  position: relative;
  width: 50%;
  left: 50%;
  margin-top: -4%;
}
.wedding_forms .form-control{    border: none;}
.wedd_btn{ width:100%; font-family: RadikalW01_Black_bold;     letter-spacing: 1px;
  padding: 10px 0px;}
  .wedd_sel{width:100%;color: #4c1f1e;font-family: RadikalW01_Black_bold;height: 44px;     text-transform: uppercase;     letter-spacing: 1px;} 
  #footersl{background: url(../images/footers.png);padding: 150px 0px 50px 0px;background-repeat: no-repeat;background-position-y: center;border-bottom: 8px solid #4c1f1e;}
  .site_menus ul {
    margin: 0px;
    padding: 0px;
    float: right;
    width: 63%;
  }
  .site_menus ul li {
    display: inline;
    padding: 4px;
  }
  .site_menus a {
    color: #000;
    line-height: 30px;
    text-decoration: none;
  }
  .site_menus {
    padding: 10px 0px;
  }
  .abouts_footers p{font-family:OPENSANS-REGULAR;color:#696969;padding: 10px 0px;line-height: 30px;font-size: 14px;}
  .hotelslog img{margin-bottom: 30px;}

  .barands_menus {
    text-align: center;
  }
  .barands_menus ul {
    margin-bottom: 40px;
    padding: 0px;
  }
  .barands_menus ul li {
    display: inline;
    padding: 8px;
  }
  .barands_menus a {
    color: #4c1f1e;
    font-weight: 300;
    font-family: OPENSANS-REGULAR;
    text-decoration: none;
  }
  .footers_adds {
    border-right: 1px solid #000;
  }
  .footers_adds h3{
    font-family: OPENSANS-SEMIBOLD;
    font-size: 20px;
    color: #000;
  }
  .footers_adds p{
    font-family: OPENSANS-REGULAR;
    color: #696969;
  }
  .footers_adds span {
    display: block;
  }
  .footers_media{
    text-align: right;
  }
  .footers_media h3{
    text-align: left;
    padding-left: 55%;
    font-family: OPENSANS-SEMIBOLD;
    font-size: 20px;
    color: #000;
  }
  .footers_media ul{}
  .footers_media ul li{
    display: inline-block;
    padding: 0px 10px;
  }
  .footers_media ul li a{
    display: inline-block;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
  }
  .footers_copyright {
    text-align: center;
    padding: 30px 0px 0px 0px;
  }
  .footers_copyright p{
    font-size: 16px;
    font-family: OPENSANS-REGULAR;
    font-weight: bold;
  }
  .footers_copyright p a {
    color: #000;
    text-decoration: none;
  }
  .footers_media ul li a i {
    font-size: 18px;
    color: #000;
  }
  .hotelslog .col-md-4{ padding:0px;}




  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
  body {
    font-family: 'Open Sans', 'courgette';
    font-size:20px;
  }
  .mega-dropdown {
    position: static !important;
  }
  .mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .mega-dropdown-menu > li > ul {
    padding:0;
    margin: 50%;
  }
  .mega-dropdown-menu > li > ul > li {
    list-style: none;
  }
  .mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 5px 2px;
    border-bottom: 1px solid #ca7167;
    color: #4c1f1e;
    font-family: RadikalW01_Black_bold;
    text-transform: uppercase;
  }
  .mega-dropdown-menu > li ul > li > a:hover,
  .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
  }
  .mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 6px 5px 5px;
    line-height: 5px;
  }



  .jain_container .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{    color: #f45541;    background-color: rgba(231, 231, 231, 0);}


  /*****************globals*************/
  body {
    font-family: 'open sans';
    overflow-x: hidden; }

    img {
      max-width: 100%; }

      .preview {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        @media screen and (max-width: 996px) {
          .preview {
            margin-bottom: 20px; } }

            .preview-pic {
              -webkit-box-flex: 1;
              -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
              flex-grow: 1; }

              .preview-thumbnail.nav-tabs {
                border: none;
                margin-top: 15px; }
                .preview-thumbnail.nav-tabs li {
                  width: 18%;
                  margin-right: 2.5%; }
                  .preview-thumbnail.nav-tabs li img {
                    max-width: 100%;
                    display: block; }
                    .preview-thumbnail.nav-tabs li a {
                      padding: 0;
                      margin: 0; }
                      .preview-thumbnail.nav-tabs li:last-of-type {
                        margin-right: 0; }

                        .tab-content {
                          overflow: hidden; }
                          .tab-content img {
                            width: 100%;
                            -webkit-animation-name: opacity;
                            animation-name: opacity;
                            -webkit-animation-duration: .3s;
                            animation-duration: .3s; }

                            .card {
                              margin-top: 50px;
                              background: #eee;
                              padding: 3em;
                              line-height: 1.5em; }

                              @media screen and (min-width: 997px) {
                                .wrapper {
                                  display: -webkit-box;
                                  display: -webkit-flex;
                                  display: -ms-flexbox;
                                  display: flex; } }

                                  .details {
                                    display: -webkit-box;
                                    display: -webkit-flex;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-orient: vertical;
                                    -webkit-box-direction: normal;
                                    -webkit-flex-direction: column;
                                    -ms-flex-direction: column;
                                    flex-direction: column; }

                                    .colors {
                                      -webkit-box-flex: 1;
                                      -webkit-flex-grow: 1;
                                      -ms-flex-positive: 1;
                                      flex-grow: 1; }

                                      .product-title, .price, .sizes, .colors {
                                        text-transform: UPPERCASE;
                                        font-weight: bold; }

                                        .checked, .price span {
                                          color: #ff9f1a; }

                                          .product-title, .rating, .product-description, .price, .vote, .sizes {
                                            margin-bottom: 15px; }

                                            .product-title {
                                              margin-top: 0; }

                                              .size {
                                                margin-right: 10px; }
                                                .size:first-of-type {
                                                  margin-left: 40px; }

                                                  .color {
                                                    display: inline-block;
                                                    vertical-align: middle;
                                                    margin-right: 10px;
                                                    height: 2em;
                                                    width: 2em;
                                                    border-radius: 2px; }
                                                    .color:first-of-type {
                                                      margin-left: 20px; }

                                                      .add-to-cart, .like {
                                                        background: #ff9f1a;
                                                        padding: 1.2em 1.5em;
                                                        border: none;
                                                        text-transform: UPPERCASE;
                                                        font-weight: bold;
                                                        color: #fff;
                                                        -webkit-transition: background .3s ease;
                                                        transition: background .3s ease; }
                                                        .add-to-cart:hover, .like:hover {
                                                          background: #b36800;
                                                          color: #fff; }

                                                          .not-available {
                                                            text-align: center;
                                                            line-height: 2em; }
                                                            .not-available:before {
                                                              font-family: fontawesome;
                                                              content: "\f00d";
                                                              color: #fff; }

                                                              .orange {
                                                                background: #ff9f1a; }

                                                                .green {
                                                                  background: #85ad00; }

                                                                  .blue {
                                                                    background: #0076ad; }

                                                                    .tooltip-inner {
                                                                      padding: 1.3em; }

                                                                      @-webkit-keyframes opacity {
                                                                        0% {
                                                                          opacity: 0;
                                                                          -webkit-transform: scale(3);
                                                                          transform: scale(3); }
                                                                          100% {
                                                                            opacity: 1;
                                                                            -webkit-transform: scale(1);
                                                                            transform: scale(1); } }

                                                                            @keyframes opacity {
                                                                              0% {
                                                                                opacity: 0;
                                                                                -webkit-transform: scale(3);
                                                                                transform: scale(3); }
                                                                                100% {
                                                                                  opacity: 1;
                                                                                  -webkit-transform: scale(1);
                                                                                  transform: scale(1); } }

/*# sourceMappingURL=style.css.map */