/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .body {
    margin-left: auto;
    margin-right: auto;
 }
 h1 { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
H2 { text-align: center }

 #background {
   background: url(nice.jpg) no-repeat center center fixed; 
   min-width: 100%;
   min-height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute; 
   top: 120px; 
   left: 0; 
   right: 0; 
   bottom: 0; 
   margin: auto; 
}

img{
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: 1500px; 
    max-width: 1400px; 
    max-height: 500px;
}