<div class="container">
  <%= form_tag "/images", multipart: true, method: :post do %>

  
  <input type="hidden" name="destination_id" value="<%= @destination.id %>">

  <div>
    Upload Your Image
    <input type="file" name="url">
  </div>

  <input type="submit" value="Submit">
  <% end %>
</div>